<section class="container">
    <h1>Crear Estudiante</h1>
    <form [formGroup]="frm_estudiante" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
            <label class="form-label" for="nombre">Nombre</label>
            <input type="text" formControlName="nombre" class="form-control" id="nombre"
                placeholder="Ingrese el nombre" />
            <div *ngIf="frm_estudiante.get('nombre')?.invalid && frm_estudiante.get('nombre')?.touched">
                <small *ngIf="frm_estudiante.get('nombre')?.hasError('required')" style="color: red">El nombre es
                    requerido</small>
            </div>
        </div>
        <div class="form-group mb-3">
            <label class="form-label" for="apellido">Apellido</label>
            <input type="text" formControlName="apellido" class="form-control" id="apellido"
                placeholder="Ingrese el apellido" />
            <div *ngIf="frm_estudiante.get('apellido')?.invalid && frm_estudiante.get('apellido')?.touched">
                <small *ngIf="frm_estudiante.get('apellido')?.hasError('required')" style="color: red">El apellido es
                    requerido</small>
            </div>
        </div>
        <div class="form-group mb-3">
            <label class="form-label" for="fecha_nacimiento">Fecha de Nacimiento</label>
            <input type="date" formControlName="fecha_nacimiento" class="form-control" id="fecha_nacimiento" />
            <div
                *ngIf="frm_estudiante.get('fecha_nacimiento')?.invalid && frm_estudiante.get('fecha_nacimiento')?.touched">
                <small *ngIf="frm_estudiante.get('fecha_nacimiento')?.hasError('required')" style="color: red">La fecha
                    de nacimiento es requerida</small>
            </div>
        </div>
        <div class="form-group mb-3">
            <label class="form-label" for="grado">Grado</label>
            <select formControlName="grado" class="form-select" id="grado">
                <option value="Primero">Primero</option>
                <option value="Segundo">Segundo</option>
                <option value="Tercero">Tercero</option>
                <option value="Cuarto">Cuarto</option>
                <option value="Quinto">Quinto</option>
                <option value="Sexto">Sexto</option>
            </select>
            <div *ngIf="frm_estudiante.get('grado')?.invalid && frm_estudiante.get('grado')?.touched">
                <small *ngIf="frm_estudiante.get('grado')?.hasError('required')" style="color: red">El grado es
                    requerido</small>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" ng>Guardar</button>
    </form>
</section>