<section class="container mt-3 text-center">
    <h4 class="fw-bold">Ver Cliente</h4>
</section>
<div class="container my-3">
    <div class="position-relative p-5  text-muted bg-body border border-dashed rounded-5">
      <ol class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Nombres:</div>   
            {{ cliente.Nombres }}         
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Direccion:</div>
            {{ cliente.Direccion }}           
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Telefono:</div>
            {{ cliente.Telefono }}           
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Cedula:</div>
            {{ cliente.Cedula }}           
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Correo:</div>
            {{ cliente.Correo }}           
          </div>
      </ol>
</div>